#u207
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u85
{
	-pie-box-shadow: none;
	box-shadow: 1px 4px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.87;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=87)";
	filter: alpha(opacity=87);
}

#u86
{
	background-color: #006DD9;
	position: relative;
}

#u143
{
	background-color: transparent;
	position: relative;
}

#u99-6
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: '__Open Sans_5';
	font-weight: 300;
	position: relative;
}

#u99-2
{
	font-size: 24px;
	line-height: 29px;
}

#u99-4
{
	font-size: 12px;
	line-height: 14px;
}

#u114-6
{
	background-color: transparent;
	color: #000000;
	font-family: '__Open Sans_5';
	font-weight: 300;
	position: relative;
}

#u114-2
{
	font-size: 30px;
	line-height: 36px;
}

#u114-4
{
	font-size: 11px;
	line-height: 13px;
	font-style: italic;
}

#u213-4
{
	background-color: transparent;
	font-family: '__GLYPHICONS Halflings_5';
	font-weight: 400;
	position: relative;
}

#u102-4
{
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	text-align: right;
	color: #FFFFFF;
	font-family: '__Open Sans_5';
	font-weight: 400;
	position: relative;
}

