#u85
{
	-pie-box-shadow: 1px 4px 8px #7F7F7F;
	box-shadow: 1px 4px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #006DD9;
	background-color: #FFFFFF;
	border-radius: 0px 5px 5px 0px ;
	position: relative;
}

#u86
{
	background-color: #006DD9;
	position: relative;
}

#u143
{
	background-color: transparent;
	position: relative;
}

#u99-6
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: '__Open Sans_5';
	font-weight: 300;
	position: relative;
}

#u99-2
{
	font-size: 24px;
	line-height: 29px;
}

#u101
{
	vertical-align: top;
	position: relative;
	background: url("../images/u101.png") no-repeat 0px 0px;
}

#u102-4
{
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	text-align: right;
	color: #FFFFFF;
	font-family: '__Open Sans_5';
	font-weight: 400;
	position: relative;
}

#u114-4
{
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #7F7F7F;
	font-family: '__Open Sans_5';
	font-weight: 300;
	position: relative;
}

