<div class="chainablewidget">
    <div class="dropdown" data-dojo-attach-point="_dropdownbst">
        <button class="btn btn-default dropdown-toggle" type="button" data-dojo-attach-point="_dropdowndojo" id="{{dropdownid}}" data-toggle="dropdown" aria-expanded="true">
            <span data-dojo-attach-point="_itemvalue">...</span>
            <span class="caret"></span>
        </button>
        <ul data-dojo-attach-point="_selectableid" class="dropdown-menu" role="menu" aria-labelledby="{{dropdownid}}">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
    </div>
</div>